* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    font-family: "Reddit Sans Condensed", sans-serif !important; 
}
body {
	overflow-x: hidden;
    margin: 0%;
    padding: 0%;
} 
section {
    overflow: hidden;
}
header {
    overflow: hidden;
}
footer {
    overflow: hidden;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6d6e707e;
    color: white;
    width: 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    text-decoration: none;
    z-index: 1;
  }

header .banner {
    background-color: black;
    color: white;
}

header .banner .banner-img {
    background: url(img/clavier-accueil.jpg) no-repeat center/cover fixed;
}

header .banner .banner-img .banner-overlay {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.8);
}
header h1 {
    text-transform: uppercase;
}

main nav {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.137);
}

main nav div .collapse {
    display: flex;
    justify-content: end;
}


.navbar-nav .nav-link.active-section {
    background-color: rgb(32, 32, 33);
    color: rgb(255, 255, 255);
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

main nav ul li:hover {
    background-color: rgb(32, 32, 33);
    
}
main nav ul li a.nav-link:hover {
    color: white;
}
main nav ul li a.nav-link  {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    transition-duration: 0.3s;
}

main {
    background-color: #ffffff;
}

main nav {
    background-color: rgb(255, 255, 255) !important;
}

/* Section 1 */

section#section1 {
    background-color: #ffffff;
}
section#section1 p {
    font-size: 22px !important;
}
section#section1 div.container {
    position: relative;
}
section#section1 div.container h1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.056);
    text-align: center;
    text-transform: uppercase;
}
section#section1 div.container h4 {
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.704);
    margin-top: -80px;
}
section#section1 div.container .trait {
    width: 50px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
}

@media screen and (max-width: 768px) {
    section#section1 div.container h1 {
        font-size: 60px; /* Ajustez la taille selon vos besoins */
    }
    section#section1 div.container h4 {
        margin-top: -60px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    section#section1 div.container h1 {
        font-size: 45px; /* Ajustez la taille selon vos besoins */
    }
    section#section1 div.container h4 {
        font-size: 1.5rem;
        margin-top: -48px;
    }
    section#section1 p {
        font-size: 18px !important;
    }
}

section#section1 .divpresentation {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 100;
}
section#section1 p a {
    text-decoration: none !important;
    color: rgb(6, 194, 194);

}
section#section1 p a:hover {
    text-decoration: underline !important;
    color: rgb(0, 255, 255);   
}

/* section 2 */
section#activite{
    background-color: #eee;
}

section#activite div.container {
    position: relative;
}
section#activite div.container h1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.056);
    text-align: center;
    text-transform: uppercase;
}
section#activite div.container h4 {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.704);
    margin-top: -100px;
}
section#activite div.container .trait {
    width: 50px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
}

@media screen and (max-width: 992px) {
    section#activite div.container h4 {
        margin-top: -115px;
    }
}
@media screen and (max-width: 770px) {
    section#activite div.container h1 {
        font-size: 70px; /* Ajustez la taille selon vos besoins */
    }
    section#activite div.container h4 {
        font-size: 1.5rem;
        margin-top: -80px;
    }
}

@media screen and (max-width: 550px) {
    section#activite div.container h1 {
        font-size: 45px; /* Ajustez la taille selon vos besoins */
    }
    section#activite div.container h4 {
        font-size: 1.3rem;
    }
}
section#activite div.col-11{
    transition: all 0.5s;
}
.animate {
    transform: scale(1.1);
    transition: all 0.5s ease;
}
section#activite div.col-11:hover{
    background-color: black !important;
    color: white !important;
}
section#activite div.col-11:hover p {
    visibility: visible !important;
    transition-duration: 0.5s;
}

/* competence */
section#competence  h1 {
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.056);
    text-transform: uppercase;
}
section#competence h4 {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.704);
    margin-top: -80px;
}
section#competence .trait {
    width: 50px;
    height: 2px;
    background-color: rgba(0, 0, 0);
    margin: 0px auto;
}
@media screen and (max-width: 992px) {
    section#competence h1 {
       font-size: 90px !important; /* Ajustez la taille selon vos besoins */
   } 
   section#competence h4 {
    margin-top: -75px;
} 
} 
@media screen and (max-width: 768px) {
    section#competence h1 {
       font-size: 70px !important; /* Ajustez la taille selon vos besoins */
   } 
   section#competence h4 {
    font-size: 1.5rem;
    margin-top: -60px;
} 
} 
@media screen and (max-width: 576px) {
    section#competence h1 {
       font-size: 45px !important; /* Ajustez la taille selon vos besoins */
   } 
   section#competence h4 {
       font-size: 1.3rem;
       margin-top: -45px;
   } 
}
section#competence div.imgdiv {
    position: absolute;
	background: url("img/about.jpg") scroll center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
@media screen and (max-width: 992px) {
    section#competence div.imgdiv {
        position: relative;
        height: 300px;
    }
}



























/* realisation */
section#realisation{
    background-color: #eee;
}

section#realisation div.container {
    position: relative;
}
section#realisation div.container h1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.056);
    text-align: center;
    text-transform: uppercase;
}
section#realisation div.container h4 {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.704);
    margin-top: -78px;
}
section#realisation div.container .trait {
    width: 50px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
}

@media screen and (max-width: 768px) {
    section#realisation div.container h1 {
        font-size: 70px; /* Ajustez la taille selon vos besoins */
    }
    section#realisation div.container h4 {
        margin-top: -65px;
    }
}

@media screen and (max-width: 576px) {
    section#realisation div.container h1 {
        font-size: 45px; /* Ajustez la taille selon vos besoins */
    }
    section#realisation div.container h4 {
        font-size: 1.5rem;
        margin-top: -45px;
    }
}

section#realisation a.btn:hover {
    background-color: black;
    border: black;
    color: white;
}
section#realisation a.btn {
    background-color: rgb(201, 196, 196);
    border: rgb(184, 182, 182);
    color: black;
}
section#realisation .card {
    transition: all 0.5s;
}
.card-hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}



/* contact */

section#contact .container {
    position: relative;
}
section#contact .container h1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 90px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.056);
    text-align: center;
    text-transform: uppercase;
}
section#contact h4 {
    font-size: 2em;
    color: rgba(0, 0, 0, 0.704);
    margin-top: -95px;
}
section#contact .trait {
    width: 50px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0px auto;
}

@media screen and (max-width: 768px) {
    section#contact h1 {
        font-size: 60px !important; /* Ajustez la taille selon vos besoins */
    }
}

@media screen and (max-width: 576px) {
    section#contact h1 {
        font-size: 45px !important; /* Ajustez la taille selon vos besoins */
    }
    section#contact h4 {
        font-size: 1.5rem;
        margin-top: -65px;
    }
}  

section#contact div.row a.shadow-sm {
    color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
    transition: all 0.3s;
}
section#contact div.row a.shadow-sm:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
    text-decoration: underline !important;
    transition: all 0.3s;
}
section#contact div.col-lg-4 {
    transition: all 0.5s ease;
}
.contact-hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}


/* Footer */

footer#footer a.bi:hover {
    color: rgba(255, 255, 255, 0.539) !important;
    border-color: rgba(255, 255, 255, 0.539) !important;
}
footer#footer p {
    color: rgba(255, 255, 255, 0.686);
    font-style: italic;
}









